@model InterlogicTask.Models.Blocks.UspBlock.UspModel

<div class="UspBlock__InfoArea">
    <h2 class="UspBlock__Title">@Html.PropertyFor(x => x.Title)</h2>
    <div class="UspBlock__PriceArea">
        <h2 class="UspBlock__Price">@Html.PropertyFor(x => x.Price) kr.</h2>
        <input class="UspBlock__PriceValue" type="hidden" id="UspBlock__OptionPrice" value=@Model.Price>
        <p class="UspBlock__PriceDescription">@Html.PropertyFor(x => x.PriceDescription)</p>
        <p class="UspBlock__AdditionalDescription">@Html.PropertyFor(x => x.AdditionalDescription)</p>
    </div>
    </div>
    <div class="UspBlock__ServicesArea">
        <ul class="UspBlock__Ul">
            @{
                foreach (var service in Model.ServicesList)
                {
                    <li class="UspBlock__Li">@service</li>
                }
            }
        </ul>
    </div>